.checked {
    color: orange;
}

.nuevo-restaurante {
    padding: 10px;
    margin-bottom: 20px;
}

.btn {
    margin: 10px;
}

.imagen {
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-left: 50px;
}